*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --var-color : black;
    --var-backg-color : #f0f0f0;
}

.dark{
   --var-color : white;
   --var-backg-color : rgb(72, 63, 63);

}

.header{
    background-color: var(--var-backg-color);
}

.header h1{
    text-align: center;
    padding: 1.5rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    height: 50vh;
    gap: 10px;
}

.box{
    height: 10rem;
    width: 10rem;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input{
    display: flex;
    justify-content: center;
    gap: 5px;
}

input{
    height: 1.5rem;
    padding: 0.2rem;
}

button{
    padding: 0 0.5rem;
    background-color: var(--var-backg-color);
    border: 1px solid;
}

@media (max-width: 480px) {
    .header h1{
        font-size: 1rem;
    }
    .box{
        height: 5rem;
        width: 5rem;
    }
}

@media (max-width: 678px) {
    .header h1{
        font-size: 1.5rem;
    }
    

    .box{
        height: 7rem;
        width: 7rem;
    }
}